.card-content{
    width: 272px;
}

.card-top{
    width: 100%;
    height: 320px;
    background-color: rgb(235, 235, 235);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.card-top__img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.card-top__img:hover{
    transform: scale(1.1);
}

.card-top__btn{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: .3s;
}

.card-top__btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.card-top__btn svg{
    stroke-width: 3;
    color: black;
    transition: transform 0.5s ease-in-out
}

.card-top__btn:hover {
    background-color: black;
}

.card-top__btn:hover svg {
    color: white;
    transform: rotate(359deg);

}

.card-bottom__category{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
}

.card-bottom__category .circle{
    border-radius: 50%;
    background-color: #A7A1FF;
    width: 10px;
    height: 10px;
}

.card-bottom__category p{
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.card-bottom__title{
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0 0 0;
}
